

.navigation {
    display: none;
    

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.navigation__item + .navigation__item {
    margin-left: 50px;
}

.navigation__list {

    @media screen and (min-width: 768px) {
    display: flex;
    padding-left: 0;
    margin-right: 84px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 305px;
    }
}

.navigation__link {
    position: relative;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
    color: $title-text-color;

    transition: color $transition-argument;

    &:hover,
    &:focus {
    color: $accent-color;
    }
}

.navigation__link--active {
    color: $accent-color;

    &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        
        content: '';
         width: 100%;
         height: 4px;
         display: block;
        border-radius: 2px;
        background-color: $accent-color;
    }
}

.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0px;
    background-color: transparent;
}